body {
    #root {
      div.App {
        .InputBox {
          background-color: aliceblue;
          display: flex;
          justify-content: center;
        }
  
        .ResultBox {
          background-color: rgb(77 72 72 / 60%);
          grid-area: result;
          display: grid;
          padding: 10px;
          align-items: center;
          justify-content: flex-end;
        }
  
        .LeftBtn {
          background-color: rgb(241, 137, 18);
        }
  
        .ZeroBtn {
          grid-area: 6 / 1 / span 1 / span 2;
        }
      }
    }
  }
  
  @media only screen and (min-width: 480px) {
    #root {
      div.App {
        width: 84vw;
      }
    }
  }
  
  @media only screen and (max-width: 480px) {
    #root {
      div.App {
        width: 84vw;
      }
    }
  }
  
  @media only screen and (min-width: 600px) {
    #root {
      div.App {
        width: 64vw;
      }
    }
  }
  
  @media only screen and (min-width: 992px) {
    #root {
      div.App {
        width: 38vw;
      }
    }
  }
  